*.pyc
.svn
.ipynb_checkpoints
*.me
*~
*.pkl
el-10000-hybridgen.txt
el-10000.txt
el-5000.txt
el-5000-hybridgen.txt
er-10000-nov.txt
er-10000-cls.txt
er-10000-cls-pos.txt
er-10000-cls-neg.txt
er-30000-cls.txt
er-30000-cls-pos.txt
er-30000-cls-neg.txt
